---
title: News
blog: news
---
<%= partial "layouts/navigation" %>
<article class="news">
  <div class="wrapper">
    <h2>
      <time datetime="2015-05-09T10:30">2015/5/09 (土) 2限（10:30〜12:15）</time>
      <time datetime="2015-05-13T16:40">2015/5/13 (水) 5限（16:40〜18:10）</time>
      第２回勉強会
    </h2>
    <p>
      ローム記念館２Fのオープンスペースにて、第２回勉強会を開催します。内容はslackの使い方講座、自己紹介ページの作成・完成です。お申し込みは<a href="https://docs.google.com/forms/d/1bOgkwZPVd9PbOwfsdsjDos28DDJLHJFaqRJtLzwZEww/viewform" target="_blank">こちら</a>からお願いします。
    </p>
    <h2>
      <time datetime="2015-05-16T10:30">2015/5/16 (土) 2限（10:30〜12:15）</time>
      <time datetime="2015-05-20T16:40">2015/5/20 (水) 5限（16:40〜18:10）</time>
      第３回勉強会
    </h2>
    <p>
      ローム記念館２Fのオープンスペースにて、第３回勉強会を開催します。内容はタグの習得、html5かるたをします。
    </p>
  </div>
</article>
