---
title: News
blog: news
---
<%= partial "layouts/navigation" %>
<article class="news">
  <div class="wrapper">
    <h2><time>2015/4/2(木) ~ 2015/4/6(月) 10:00 ~ 15:00</time>ブースでの説明会@ローム記念館GF</h2>
    <p>正門右手のローム記念館に入ってすぐのところにブースを設置しています。プロジェクトの詳しい説明を聞くことができます。情報系学科の履修相談などもお受けしますので、気軽に足を運んで見てください！</p>
    <h2><time>2015/4/13 (月) ~ 2015/4/24(金) 15:00 ~ 18:30</time>プロジェクト説明会@RM215</h2>
    <p>プロジェクトルームであるローム記念館2階のRM215にメンバーが常駐しています。プロジェクトの詳しい説明の他に雰囲気なども味わっていただけます。お菓子など用意してますので気軽に遊びに来てください！</p>
    <h2><time>2015/4/16(木) 16:45 ~ 19:00</time>プロジェクト交流会@ローム記念館GF</h2>
    <p>ローム記念館プロジェクト全体でのイベントです。ゲーム大会の後に軽食つきの交流会が予定されています。プロジェクトのことを知るいい機会になると思うのでぜひご参加ください。</p>
  </div>
</article>
