---
title: News
blog: news
---
<article class="news">
  <div class="wrapper">
    <h2>4/02-06 10:00-15:00<br>ブース説明会(ローム記念館GF)</h2>
    <p>正門右手のローム記念館に入ってすぐのところにブースを設置しています。情報系学科の履修相談などもお受けします！</p>
    <h2>4/13-24 15:00-18:30<br>プロジェクト説明会(RM215)</h2>
    <p>プロジェクトルームであるローム記念館2階のRM215にメンバーが常駐しています。プロジェクトの詳しい説明の他に雰囲気なども味わっていただけます。お菓子など用意してますので気軽に遊びに来てください！</p>
    <h2>4/16 16:45-19:00<br>プロジェクト交流会(ローム記念館GF)</h2>
    <p>ローム記念館プロジェクト全体でのイベントです。ゲーム大会の後に軽食つきの交流会が予定されています。プロジェクトのことを知るいい機会になると思うのでぜひご参加ください。</p>
  </div>
</article>
