---
title: News
blog: news
---
<%= partial "layouts/navigation" %>
<article class="docs-layout news">
  <div class="container">
    <h1>お知らせ</h1>
    <p>
      勉強会の日程やイベント等の告知
    </p>
    <section>
      <h2>第3回勉強会</h2>
      <p>
        ローム記念館２Fのオープンスペースにて、第３回勉強会を開催します。これまでの知識を応用しつつ、Webサイトのレイアウトを構築してもらいます。
      </p>
      <time datetime="2015-05-16T10:30">
        2015/5/16 (土) 2限（10:30〜12:15）
      </time>または、
      <time datetime="2015-05-20T16:40">
        2015/5/20 (水) 5限（16:40〜18:10）
      </time>
    </section>
  </div>
</article>
