---
title: News
blog: news
---
<%= partial "layouts/navigation" %>
<article class="news">
  <div class="wrapper">
    <h2><time>2015/4/13 (月) ~ 2015/4/24(金) 15:00 ~ 18:30</time>プロジェクト説明会@RM215</h2>
    <p>プロジェクトルームであるローム記念館2階のRM215にメンバーが常駐しています。プロジェクトの詳しい説明の他に雰囲気なども味わっていただけます。お菓子など用意してますので気軽に遊びに来てください！</p>
    <h2>
      <time>2015/4/25 (土) 2限（10:30〜12:15）</time>
      <time>2015/4/28 (火) 5限（16:40〜18:10）</time>
      プレ勉強会
    </h2>
    <p>
      ローム記念館２Fのオープンスペースにて、第1回プレ勉強会を開催します。内容は、開発環境の構築、Hello World、自己紹介ページの作成です。
    </p>
  </div>
</article>
