* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'MS PGothic', 'MS Pゴシック', sans-serif;
  line-height: 1.7;
}

body {
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'MS PGothic', 'MS Pゴシック', sans-serif;
  line-height: 1.7;
}

#main {
  margin-bottom: $base-margin * 1.6;
}

a {
  color: $link-color;

  &:hover, &:visited {
    color: $link-color;
    text-decoration: underline;
  }
}

p {
  margin: 20px 0 30px;
  color: $sub-text-color;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: 0.02rem;
}

.prev-link {
  text-align: right;
}

.page-number {
  text-align: center;
}

.next-link {
  text-align: left;
}

.article-box {
  position: relative;
  margin: 50px auto;

  &:hover{
    > .article a {
      color: $purple;
    }

    + .arrow {
      background: url('/images/arrow-after.png');
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: 10px center;
    }
  }

  .article {
    cursor: pointer;

    .date-box {
      .date {
        margin: 35px auto;
        text-align: center;
      }

      &:hover {
        .article-title {
          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }

    a {
      color: black;
      text-decoration: none;
    }

    .article-title {
      color: $base-text-color;
    }

    .summary {
      a {
        color: $sub-text-color;
        text-decoration: none;
      }
    }

    &:hover {
      + .arrow {
        background: url('/images/arrow-after.png');
        background-repeat: no-repeat;
        background-size: 50px;
        background-position: 10px center;
      }
    }
  }

  .arrow {
    background: url('/images/arrow-before.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center left;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;

    &:hover {
      background: url('/images/arrow-after.png');
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: 10px center;
    }

    a {
      display: none;
    }
  }
}

.separator {
  margin: 0 0 20px 0;
  border: 0;
  height: 1px;
  background: #ccc;
  background-image: -webkit-linear-gradient(left, #fff, #ccc, #fff);
  background-image:    -moz-linear-gradient(left, #fff, #ccc, #fff);
  background-image:     -ms-linear-gradient(left, #fff, #ccc, #fff);
  background-image:      -o-linear-gradient(left, #fff, #ccc, #fff);
}

@media screen and (max-width: 767px) {
  .date-box {
    height: 1em !important;

    .date {
      text-align: left !important;
    }
  }
}
