.blog_footer {
  background: #2B2F3D;
}

.copyright {
  text-align: center;
  color: $base-text-color;
}

.footer-content {
  color: #ccc;
  margin: 30px auto;

  a {
    color: #fff;
    &:hover, &:visited {
      color: #ccc;
      text-decoration: underline;
    }
  }

  p {
    color: $sub-text-color;
    margin: 10px 0 15px;
    font-size: 0.9rem;
  }

  .post-date {
    margin-bottom: 0px;
  }

  .post-title {
    margin-top: 0px;
  }

  .dit-link {
    margin: 0 auto;
  }

  li {
    position: relative;
    list-style-type: none;
  }

  li::after {
  	display: block;
  	content: '';
  	position: absolute;
  	top: .5em;
  	left: -1em;
  	width: 6px;
  	height: 6px;
  	border-right: 1px solid #666;
  	border-bottom: 1px solid #666;
  	-webkit-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  }

  .sns-link {
    padding: 0 0 0 10px;
  }
}

@media screen and (max-width: 1200px) {
  .about-auther {
    margin: 0 30px 10px 30px;
  }
}
