* {
  -webkit-font-smoothing: antialiased;
}

html {
  color: $base-text-color;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'MS PGothic', 'MS Pゴシック', sans-serif;
  line-height: 1.7;
}

body {
  color: $base-text-color;
  background: $bg-color-dark;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'MS PGothic', 'MS Pゴシック', sans-serif;
  line-height: 1.7;
}

a {
  color: $purple;
  &:hover, &:visited {
    color: $purple;
    text-decoration: underline;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

@font-face {
  font-family: 'LigatureSymbols';
  src: url('fonts/LigatureSymbols.eot');
  src: url('fonts/LigatureSymbols.eot?#iefix') format('embedded-opentype'),
       url('fonts/LigatureSymbols.woff') format('woff'),
       url('fonts/LigatureSymbols.ttf') format('truetype'),
       url('fonts/LigatureSymbols.svg#LigatureSymbols') format('svg');
  src: url('fonts/LigatureSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
}

.lsf-icon:before {
  content: attr(title);
  margin-right: .3em;
  font-size: 130%;
}

