* {
  -webkit-font-smoothing: antialiased;
}

html {
  color: $base-text-color;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'MS PGothic', 'MS Pゴシック', sans-serif;
  line-height: 1.7;
}

body {
  color: $base-text-color;
  background: $bg-color-dark;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'MS PGothic', 'MS Pゴシック', sans-serif;
  line-height: 1.7;
}

a {
  color: $purple;
  &:hover, &:visited {
    color: $purple;
    text-decoration: underline;
  }
}

.main {
  section {
    padding: $section-margin 0;
    > h2 {
      color: $base-text-color;
      text-align: center;
    }
    > p {
      margin: 20px 0 30px;
      color: $sub-text-color;
      font-size: .9em;
      text-align: center;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

