.footer {
  background: $bg-color-dark;

 .container{
    padding: 50px 30px 20px 30px;
    color: $base-text-color;
    .logo {
      margin-bottom: 20px;
      a {
        color: #fff;
        font-size: 3rem;
        font-family: 'Myriad Pro' sans-serif;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .copyright {
      color: $base-text-color;
      font-size: .9rem;
    }
    h3{
      margin: 0 0 4px 0;
      font-size: 1rem;
      color: $base-text-color;
    }
    ul{
      li{
        list-style:none;
        margin-left: -40px;
        a{
          font-size: .9rem;
          font-weight:normal;
          color: $sub-text-color;
         }
       }
    }
  }
}
