.join {
  margin-top: 80px;
  text-align: center;
  h2 {
    color: #333;
  }
  p {
    color: #757575;
  }
  .join-btn {
    margin-top: 20px;
    border: none;
    width: 270px;
    height: 45px;
    outline: none;
    color: #fff;
    background-color: #673AB7;
  }
}
