.join {
  h2 {
    color: $base-text-color;
    text-align: center;
  }
  p {
    color: $sub-text-color;
    text-align: center;
  }
  .join-btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 270px;
    height: 45px;
    border: none;
    background-color: $purple;
    color: #fff;
    outline: none;
    line-height: 45px;
    text-align: center;
  }
}
