.navigation {
  background-color: $purple;
  height: $nav-height;

  .container {
    padding: 0;
  }

  .navbar-custom {
    background-color: $purple;
    border-color: transparent;
    z-index: 9999;
    .logo {
      a {
        font-size: 1.3rem;
        font-weight: bold;
        }
      }
  }
}
