.service{
	text-align: center;
}

h2{
	color: #000000;
	text-align: center;
}

h5{
	color: #A9A9A9;
	text-align: center;
}

.inner{
	text-align: justify;
}

#s-tittle{
	color: #000000;
	text-align: center;
}
