@media screen and (max-width: 768px) {
  .jumbotron {
    padding: 0;
    height: 500px;
    .container {
      padding: 0;
      .navbar-custom {
        background-color: #fff;
        z-index: 100;
        .logo {
          a {
            color: $purple;
            font-size: 1.3rem;
            font-weight: bold;
          }
        }
        .navbar-nav {
          background-color: #fff;
          margin: 0 !important;
          text-align: center;
          li {
            a {
              color: $base-text-color !important;
            }
          }
          .contact {
            a {
              color: $base-text-color !important;
              margin: 0;
              margin-bottom: 8px;
            }
          }
        }
        .navbar-toggle {
          .icon-bar {
            background-color: $base-text-color ;
          }
        }
      }
    }
    .vertical-center {
       top: $nav-height;
    }
    .header-content {
      h1 {
        margin: 0 auto;
        margin-bottom: $base-margin * 0.5;
        max-width: 9em;
        font-size: 2.1rem;
        line-height: 1.5;
        em {
          font-style: normal;
          font-size: 2.2rem;
        }
      }

      .description {
        margin: 0 auto;
        padding: 0 20px;
        font-size: 1rem;
        font-weight: normal;
        letter-spacing: 2px;
        line-height: 1.9;
      }
      .midashi-btn {
        margin-top: $base-margin;
      }
    }
  }

  .navigation {
    .navbar-custom {
      .logo a {
        font-size: 1.3rem;
      }
      .navbar-nav {
        margin: 0 !important;
        text-align: center;
        .contact {
          a {
            margin: 0;
            margin-bottom: 8px;
            border: none;
          }
        }
      }
    }
  }

  h2 {
      font-size: 25px;
  }

  .languages {
    img {
      max-width: 100%;
    }
  }
}
