.social-buttons{
  background-color: #fff;
  ul {
    list-style-type: none;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 10px 0 0;
    line-height: 33px;
  }

  &:before {
    content: " ";
    display: block;
  }
}

.twitter-share-button {
  width: 90px !important;
}

.fb_iframe_widget * {
  vertical-align: top !important;
}

#pocket-button-0 {
  width: 100px;
}
