.docs-layout {
  padding-top: 50px;
  padding-bottom: $section-margin;
  background: #fff;
  .container {
    padding-right: 20%;
    h1 {
      margin: 0 0 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      font-weight: bold;
      font-size: 1.8rem;
    }
    h2 {
      margin-top: $base-margin;
      margin-bottom: $base-margin * 0.5;
      font-size: 1.4rem;
      font-weight: bold;
      &:first-child {
        margin-top: 0;
      }
    }
    > p {
      margin-bottom: $base-margin;
    }
    p {
      font-size: 1rem;
      line-height: 1.8;
    }
  }
}

@media screen and (max-width: 768px) {
  .docs-layout {
    .container {
      padding-right: 0;
      padding: 0 $base-margin;
    }
  }
}

.news {
  section {
    margin-bottom: $base-margin;
  }
  p {
    margin-bottom: $base-margin * 0.5;
  }
}

$mentors-portrait-size: 100px;
.mentors {
  .container {
    padding-right: 15%;
    section {
      position: relative;
      margin-bottom: $base-margin * 2;
      min-height: $mentors-portrait-size;
      h2, .title,  p, .skill {
        margin: 0;
        margin-left: 140px;
      }
      .title {
        display: block;
        margin-top: 5px;
        color: $sub-text-color;
      }
      .intro {
        margin-top: 10px;
        color: $base-text-color;
      }
      .skill {
        margin-top: 10px;
        color: $base-text-color;
        span {
          margin-right: 10px;
          color: $sub-text-color;
        }
      }
      .portrait {
        display: block;
        position: absolute;
        top: 0;
        width: $mentors-portrait-size;
        height: $mentors-portrait-size;
        border-radius: 50%;
      }
      .social {
        position: absolute;
        top: 120px;
        margin: 0;
        padding: 0;
        width: 100px;
        li {
          float: left;
          margin-right: 8px;
          line-height: 1;
          list-style: none;
          &:nth-child(4n) {
            margin-right: 0;
          }
          .lsf {
            font-size: 1.8rem;
            &:hover {
              text-decoration: none;
              opacity: .7;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mentors {
    .container {
      padding-right: 0;
      padding: 0 20px;
      section {
        text-align: center;
        h2, .title,  .intro, .skill {
          margin-left: 0;
        }
        .portrait {
          position: relative;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        .social {
          display: inline-block;
          position: relative;
          top: 0;
          margin-top: 5px;
          // ソーシャルメディアを4つ以上書く場合はここ直さないといけない
          /*
          width: 100%:
          li {
            &:nth-child(4n) {
              margin-right: 8px;
            }
          }
          */
        }
      }
    }
  }
}
