// color
$base-text-color: #555560;
$sub-text-color: #888890;
$white-base-text-color: #eef;
$white-sub-text-color: #cdcdfa;

$purple: #5C5596;
$orange: #F14C59;

$bg-color: #E8EBF2;
$bg-color-dark: #2B2F3D;

$link-color: $purple;

// margin
$base-margin: 30px;
$section-margin: 90px;
$nav-height: 50px;
