<header class="header" role="banner">
  <div class="inner">
    <h1 class="logo">
      <a href="/blog">DIT blog</a>
    </h1>
    <nav role="navigation">
      <ul>
        <li><a href="/">dit</a></li>
      </ul>
    </nav>
  </div>
</header>
