<div class="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="logo">
          <a href="/">DIT</a>
          <br>
          Doshisha Institute of <br>Technology
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3>Project</h3>
        <ul>
          <li><a href="/about.html">About</a></li>
          <li><a href="/mentor.html">Mentor</a></li>
          <li><a href="/faq.html">FAQ</a></li>
          <li><a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform?usp=send_form" target="_blank">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3>Community</h3>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/news/">News</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-3">
        <h3>Connect</h3>
        <ul>
          <li><a href="https://twitter.com/dit_rohm" target="_blank">Twitter</a></li>
          <li><a href="http://facebook.com/dit.rohm" target="_blank">Facebook</a></li>
          <li><a href="http://github.com/dit-rohm" target="_blank">GitHub</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-right">
        <small class="copyright">&copy; 2015 DIT.</small>
      </div>
    </div>
  </div>
</div>
