<div class="footer" role="contentinfo">
  <div class="container clearfix">
    <div class="footer-links">
      <div class="logo">
        <a href="/">
          <img src="../images/logo_kari.png" width="80" />
        </a>
        <br>
        Doshisha Institute of <br>Technology
      </div>
    </div>
    <div class="footer-links">
      <h3>Company</h3>
      <ul>
        <li><a href="about.html">About</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="#">Calender</a></li>
        <li><a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform?usp=send_form" target="_blank">Contact</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <h3>Community</h3>
      <ul>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <h3>Connect</h3>
      <ul>
        <li><a href="https://twitter.com/dit_rohm" target="_blank">Twitter</a></li>
        <li><a href="http://facebook.com/dit.rohm" target="_blank">Facebook</a></li>
        <li><a href="#">Github</a></li>
      </ul>
    </div>
  </div>
  <p>&copy; 2015 DIT. All rights reserved.</p>
</div>

