<div id="footer"><div class="container">
  <div class="clearfix">
    <div class="footer-links">
      <div class="logo"><a href="/"><img src="../testImg/logo_kari.png" width="80" /></a><br />Doshisha Institute of <br>Technology</div>

    </div>
    <div class="footer-links">
      <h3>Company</h3>
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Calender</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <h3>Community</h3>
      <ul>
        <li><a href="">Blog</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <h3>Connect</h3>        
      <ul>
        <li><a href="">Twitter</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Github</a></li>
      </ul>
    </div>

  </div>

  <p>&copy; 2015 DIT. All Rights Reserved.</p>

</div></div> 

