<header class="jumbotron fading" role="banner">
  <div class="container">
    <nav class="navbar navbar-custom">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".target">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="logo"><a class="navbar-brand" href="/">DIT</a></h1>
      </div>
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav">
          <li><a href="/about.html">About</a></li>
          <li><a href="/mentor.html">Mentor</a></li>
          <li><a href="/news/">News</a></li>
          <li><a href="/faq.html">FAQ</a></li>
          <li><a href="/blog/" target="_blank">Blog</a></li>
          <li><a href="https://github.com/dit-rohm" target="_blank">TEXT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="contact"><a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform?usp=send_form" target="_blank">Contact</a></li>

        </ul>
      </div>
    </nav>
    <div class="header-content vertical-center">
      <h1>
        <em>同志社</em>から<em>新</em>たな<em>エンジニア</em>を
      </h1>
      <p class="description">
        DITは同志社からエンジニアを輩出します。<br>
        勉強会やハッカソンを通じて、同志社生の開発力向上を目指します。
      </p>
      <a class="btn btn-lg midashi-btn" href="https://docs.google.com/forms/d/1MOf0ojOY6SBr6UIp3b0essQ0x7J_kGXcoJ3XEmk4ZRM/viewform" role="button" target="_blank">申し込む</a>
    </div>
  </div>
  <!--<button class="more" href="">↓</button>-->
</header>
