<header class="jumbotron">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".target">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">DIT</a>
      </div>
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav">
          <li><a href="/about.html">ABOUT</a></li>
          <li><a href="/news/">NEWS</a></li>
          <li><a href="/blog/" target="_blank">BLOG</a></li>
          <li><a href="">CONTACT</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container vertical-center">
    <h1>同志社から新たな Engineer を<h1>
    <p>DITは同志社からエンジニアを排出します。新しい可能性、才能を芽生えさせることをサポートしています。ほげほげ。</p>
    <p><a class="btn btn-lg midashi-btn" role="button">ボタン付けてもいいかも &raquo;</a></p>
  </div>
</header>
