<header class="header" role="banner">
  <div class="inner">
    <h1 class="logo">
      <a href="/">DIT</a>
    </h1>
    <nav role="navigation">
      <ul>
        <li><a href="/about.html">About</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/blog/" target="_blank">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
