<header class="jumbotron">
  <div class="container">
    <h1>同志社から新たな Engineer を<h1>
    <p>DITは同志社からエンジニアを排出します。新しい可能性、才能を芽生えさせることをサポートしています。ほげほげ。</p>
    <p><a class="btn btn-lg midashi-btn" role="button">ボタン付けてもいいかも &raquo;</a></p>
  </div>
</header>
