<header class="jumbotron" role="banner">
  <nav class="navbar navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".target">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">DIT</a>
      </div>
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav">
          <li><a href="/about.html">About</a></li>
          <li><a href="/news/">News</a></li>
          <li><a href="/blog/" target="_blank">Blog</a></li>
          <li><a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform?usp=send_form" target="_blank">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container vertical-center">
    <h1>
      <em>同志社</em>から<em>新</em>たな<em>エンジニア</em>を
    </h1>
    <p class="description">
      DITは同志社からエンジニアを排出します。<br>
      新しい可能性、才能を芽生えさせることをサポートしています。ほげほげ。
    </p>
    <a class="btn btn-lg midashi-btn" role="button">
      お申し込みはこちら &raquo;
    </a>
  </div>
</header>
