<div class="navigation">
  <div class="container">
    <nav class="navbar navbar-custom">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".target">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1 class="logo"><a class="navbar-brand" href="/">DIT</a></h1>
      </div>
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav">
          <li<% if current_page.url == "/about.html" %> class="active"<% end %>><a href="/about.html">About</a></li>
          <li<% if current_page.url == "/mentor.html" %> class="active"<% end %>><a href="/mentor.html">Mentor</a></li>
          <li<% if current_page.url == "/news/" %> class="active"<% end %>><a href="/news/">News</a></li>
          <li<% if current_page.url == "/faq.html" %> class="active"<% end %>><a href="/faq.html">FAQ</a></li>
          <li><a href="/blog/" target="_blank">Blog</a></li>
          <li><a href="https://github.com/dit-rohm/textbook" target="_blank">TEXT</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="contact"><a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform?usp=send_form" target="_blank">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
