<div class="service">
	<h2 id="s-tittle">サービス</h2>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<p class="inner">
				<img src="http://placehold.jp/20/#757575/#000000/300x400.png" />
				<h2>毎週行う勉強会</h2>
				<h5>週に1回勉強会を開催いたします。ここでは、HTMLやCSSなど、課題に取り組む形で勉強していきます。</h5>
				</p>
			</div>
			<div class="col-sm-4">
				<p class="inner">
				<img src="http://placehold.jp/20/#757575/#000000/300x400.png" />
				<h2>ハッカソン</h2>
				<h5>hogehogehogehogehogehoge</h5>
				</p>
			</div>
			<div class="col-sm-4">
				<p class="inner">
				<img src="http://placehold.jp/20/#757575/#000000/300x400.png" />
				<h2>メンターのサポート</h2>
				<h5>hogehogehogehogehogehoge</h5>
				</p>
			</div>
		</div>
	</div>
</div>
