<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/png "access plus 1 months"
</ifModule>

<ifModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/css application/javascript application/x-font-ttf application/vnd.ms-fontobject application/x-font-otf image/svg+xml text/plain
</ifModule>
