---
title: About us
layout: layout
description: DIT（Doshisha Institute of Technology）について説明します。
keywords: 同志社,HTML5,CSS,JavaScript,PHP,Bootstrap,jQuery
---

<%= partial "layouts/navigation" %>

<article class="docs-layout about">
  <div class="container">
    <h1>DITについて</h1>
    <p>プロジェクトの概要</p>
    <section>
      <h2>DIT</h2>
      <p>
        DIT（Doshisha Institute of Technology）は、同志社生の技術力向上を目指し、勉強会を開催するプロジェクトです。
        週に1度、演習形式の勉強会を開催し、Web技術の習得を目指します。また、夏にはハッカソンの開催も予定しています。
      </p>
      <h2>プロジェクト</h2>
      <p>
        <a href="http://rohm.doshisha.ac.jp/" target="_blank">同志社ローム記念館プロジェクト</a>として活動しています。詳しくはWebサイトを御覧ください。
      </p>
      <h2>なぜやるか</h2>
      <p>
        情報系学科であるにも関わらず、プログラミングでなにができるかわからない、
        授業のプログラミングが退屈で嫌いになった、という人が多いように感じます。
        プログラミングの授業では、与えられた課題を解くだけで楽しくありません。
        本当に楽しいのは、自分のアイデアを形にできた時です。
      </p>
      <p>
        自分のアイデアが、動くモノとして形にできたときの喜び。それが体験できていないのではないか。
        我々はそれを課題だと感じ、モノを作る機会の提供を行っています。
        一人でも多くの人が、プログラミングの楽しさや可能性を知り、世の中に便利なサービスを生み出してくれることを期待しています。
      </p>
      <h2>メンバー</h2>
      <p>
        同志社大学の情報系学科のメンバーが中心となり活動しています。
        詳しいプロフィールは<a href="./mentor.html" target="_blank">メンターページ</a>から御覧ください。
        メンターとしてプロジェクトに参加したいという方は、
        <a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform" target="_blank">お問い合せフォーム</a>からご連絡ください。
      </p>
      <h2>勉強会資料</h2>
      <p>
        勉強会で使用している教材は、<a href="http://github.com/dit-rohm/textbook" target="_blank">Github</a>上に公開しています。
      </p>
      <h2>連絡</h2>
      <p>
        ご連絡は、<a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform" target="_blank">お問い合せフォーム</a>からお願い致します。
        また、<a href="https://twitter.com/dit_rohm" target="_blank">Twitter</a>、<a href="http://facebook.com/dit.rohm" target="_blank">Facebook</a>
        からの連絡もお待ちしております。
      </p>
    </section>
  </div>
</article>
