---
title: About us
layout: layout
---

<article class="about">
  <div class="wrapper">
    <h2>DITとは？</h2>
    <p>
      DITは、同志社大学の学生に対しハッカソンや勉強会などのイベントを開催し、これらのイベントを通して参加者のプログラミングの技術を高め，さらに形にすることの楽しさを提供することを目的として活動しています。
    </p>
    <h2>プロジェクト概要</h2>
    <table>
      <tr>
        <td>正式名称：</td>
        <td>DIT（Doshisha Institute of Technology）</td>
      </tr>
      <tr>
        <td>設立年月：</td>
        <td>2015年2月</td>
      </tr>
      <tr>
        <td>活動場所：</td>
        <td>同志社ローム記念館</td>
      </tr>
      <tr>
        <td>活動形態：</td>
        <td>学生団体</td>
      </tr>
    </table>
    <p>
    本プロジェクトは、同志社大学・同志社女子大学の学生を中心に、<a href="http://rohm.doshisha.ac.jp/" target="_blank">同志社ローム記念館</a>で活動しています。
    </p>
    <h2>連絡</h2>
    <p>
    DITへのご意見・ご感想などありましたら、<a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform" target="_blank">お問い合せフォーム</a>からお願いします。
    また、<a href="https://twitter.com/dit_rohm" target="_blank">Twitter</a>、<a href="http://facebook.com/dit.rohm" target="_blank">Facebook</a>
    からの連絡もお待ちしております。
    </p>
    <h2>生徒・協賛の募集</h2>
    <p>
      勉強会への参加を希望する学生を募集しています。
      <a href="https://docs.google.com/forms/d/1MOf0ojOY6SBr6UIp3b0essQ0x7J_kGXcoJ3XEmk4ZRM/viewform?usp=send_form" target="_blank">申し込みフォーム</a>からお申し込みください。
      また、協賛して下さる企業を募集しています。
      <a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform" target="_blank">お問い合わせフォーム</a>からご連絡をお願いします。
    </p>
  </div>
</article>
