---
title: About us
layout: layout
---

<%= partial "layouts/navigation" %>

<article class="about">
  <div class="wrapper">

    <h2>DITとは</h2>
    <p>
      DIT（Doshisha Institute of Technology）は、同志社生の技術力を目指し、勉強会やハッカソンを開催する<a href="http://rohm.doshisha.ac.jp/" target="_blank">プロジェクト</a>です。実際の開発を通じて、プログラミングの楽しさも感じてもらえればと思っています。
    </p>
    <h2>同志社ローム記念館プロジェクトとは</h2>
    <p>
    ローム記念館が設立された2003年度から実施され、毎年、学生・生徒や企業様からのプロジェクトテーマをもとに、館内のプロジェクトルームで自主的に活動をおこなう1年間のプロジェクトです。詳しくは<a href="http://rohm.doshisha.ac.jp/project/overview.html" target="_blank">同志社ローム記念館プロジェクト</a>を御覧ください。
    </p>
    <h2>なぜやるか</h2>
    <p>
      プログラミング言語の基本的な文法や考え方は授業で学ぶことができますが、それをどう実際のサービスに応用するのかは、実際に作ってみないとわかりません。そこで、私達は勉強会でのwebサイト・サービスの開発を通じて、知識や機会の提供を行います。
    </p>
    <h2>連絡</h2>
    <p>
    DITへのご意見・ご感想などありましたら、<a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform" target="_blank">お問い合せフォーム</a>からお願いします。
    また、<a href="https://twitter.com/dit_rohm" target="_blank">Twitter</a>、<a href="http://facebook.com/dit.rohm" target="_blank">Facebook</a>
    からの連絡もお待ちしております。
    </p>
    <h2>生徒・協賛の募集</h2>
    <p>
      勉強会への参加を希望する学生を募集しています。
      <a href="https://docs.google.com/forms/d/1MOf0ojOY6SBr6UIp3b0essQ0x7J_kGXcoJ3XEmk4ZRM/viewform?usp=send_form" target="_blank">申し込みフォーム</a>からお申し込みください。
      また、協賛して下さる企業を募集しています。
      <a href="https://docs.google.com/forms/d/1eQdcqzahcwmQpUSc-UiLwoSlGiImgUPOqvp-TYt8L7E/viewform" target="_blank">お問い合わせフォーム</a>からご連絡をお願いします。
    </p>
    <h2>プロジェクト概要</h2>
    <table>
      <tr>
        <td>正式名称：</td>
        <td>DIT（Doshisha Institute of Technology）</td>
      </tr>
      <tr>
        <td>設立年月：</td>
        <td>2015年2月</td>
      </tr>
      <tr>
        <td>活動場所：</td>
        <td>同志社ローム記念館 RM215</td>
      </tr>
      <tr>
        <td>メンバー：</td>
        <td>同志社理工学部情報システムデザイン学科4年生 5名</td>
      </tr>
    </table>

  </div>
</article>
