---
title: FAQ
layout: layout
---

<%= partial "layouts/navigation" %>
<article class="faq">
  <div class="wrapper">
    <h2>Q.ハッカソンや勉強会への参加はどうしたらできますか？</h2>
      <p>参加するにはこちらから応募フォームにて申し込み頂くか、ローム記念館2階RM215におこしいただいても構いません。特に詳しく話をお聞きしたい方もしくは雰囲気を知りたい方などには一度勉強会を見てもらえばと思います。気軽にご応募お待ちしております。</p>

    <h2>Q.ハッカソンや勉強会への参加の費用はかかりますか？</h2>
      <p>参加費や宿泊費はかかりません。参加者にご負担いただくのは開催地までの交通費や飲食代のみとなります。</p>

    <h2>Q.どのような技術が習得できますか？</h2>
      <p>勉強会ではWeb開発の技術を初めから丁寧に指導します。1年間受講していただくとプログラミング力はもちろん、デザイン力やプレゼンテーション力など勉強会の過程でさまざまな技術が身につきます。詳しいカリキュラムはお知らせやカレンダーを参照ください。</p>

    <h2>Q.勉強会のみ、またはハッカソンのみの参加はできますか？</h2>
      <p>可能です。我々がおすすめしているのは、開発経験の少ない方にはまず勉強会に参加していただき技術力の向上を目指していただきたく、何かプロダクトをつくりたいという想いがある方にはハッカソンにてそれを実現していただければと考えております。</p>

    <h2>Q.参加できるレベルの技術があるのか不安です。</h2>
      <p>ご安心ください。勉強会では開発初心者の方を対象にしています。プログラミング経験がなくとも、メンターが丁寧に教えるので1年間の受講で必ず技術は身につきます。また、メンターはいつでもルームにいますので、質問などがある場合は来ていただければ対応いたします。</p>

    <h2>Q.ハッカソンや勉強会ではパソコンの持ち込みは必要ですか？</h2>
      <p>もしノートパソコンをお持ちでしたらそれをお使いいただくことを推奨しています。OSは問いません。また、お持ちでない方はこちらからの貸し出しも対応いたします。</p>

    <h2>Q.メンターになるにはどうしたらいいですか？</h2>
      <p>メンターはただ技術力があるだけでなく人に教えることや支えることに興味のある方を募集しています。また、メンターになるにはローム記念館プロジェクト”DIT”のメンバー登録が必要です。一度ローム記念館2階RM215におこしください。</p>
  </div>
</article>


