---
title: FAQ
layout: layout
---

<%= partial "layouts/navigation" %>
<article class="docs-layout faq">
  <div class="container">
    <h1>よくある質問</h1>
    <p>DITに寄せられるよくある質問</p>
    <h2>参加費用はかかりますか？</h2>
    <p>いいえ。無料でご参加いただけます。</p>
    <h2>どんな技術が習得できますか？</h2>
    <p>勉強会ではWeb開発の技術を基礎から丁寧に指導します。1年間受講していただくと、一人でWebサイトの作成ができるようになります。</p>
    <h2>プログラミング経験がないのでついていけるか心配です</h2>
    <p>ご安心ください。勉強会では開発初心者の方を対象にしています。プログラミング経験がなくとも、メンターが丁寧に教えるので1年間の受講で必ず技術は身につきます。また、メンターはいつでもルームにいますので、質問などがある場合は来ていただければ対応いたします。</p>
    <h2>ノートパソコンを持っていないのですが大丈夫ですか？</h2>
    <p>もしノートパソコンをお持ちでしたらそれをお使いいただくことを推奨しています。OSは問いません。また、お持ちでない方はこちらからの貸し出しも対応いたします。</p>
    <h2>勉強会への参加はどうしたらできますか？</h2>
    <p>参加するには<a href="https://docs.google.com/forms/d/1MOf0ojOY6SBr6UIp3b0essQ0x7J_kGXcoJ3XEmk4ZRM/viewform?usp=send_form" target="_blank">応募フォーム</a>にて申し込み頂くか、ローム記念館2階RM215におこしいただいても構いません。特に詳しく話をお聞きしたい方もしくは雰囲気を知りたい方などには一度勉強会を見てもらえばと思います。気軽にご応募お待ちしております。</p>
    <h2>メンターになるにはどうしたらいいですか？</h2>
    <p>メンターはただ技術力があるだけでなく人に教えることや支えることに興味のある方を募集しています。また、メンターになるにはローム記念館プロジェクト”DIT”のメンバー登録が必要です。一度ローム記念館2階RM215におこしください。</p>
    <!--
    <h2>勉強会のみ、またはハッカソンのみの参加はできますか？</h2>
    <p>可能です。我々がおすすめしているのは、開発経験の少ない方にはまず勉強会に参加していただき技術力の向上を目指していただきたく、何かプロダクトをつくりたいという想いがある方にはハッカソンにてそれを実現していただければと考えております。</p>
    -->
  </div>
</article>

