---
layout: layout
blog: news
---

<% latest_articles = page_articles.sort_by{|a| a.date }.reverse[0,5] %>

<%= partial "layouts/header" %>
<main class="main" role="main">
  <section class="service">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>毎週行う勉強会</h2>
          <p>
            週に1度、勉強会を開催します。実際にwebサイトを作っていく中で技術力が身につきます。
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;">
          <img src="images/temp.png" width="300" style="opacity: .5;" alt="dots">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 pull-right">
          <h2>ハッカソンの開催</h2>
          <p>
            夏には合宿形式でハッカソンを開催します。チームを組み「同志社生による同志社生のためのサービス」を題材に開発を行う予定です。
          </p>
        </div>
        <div class="col-sm-5 pull-left" style="text-align: center;">
          <img src="images/temp.png" width="300" style="opacity: .5;" alt="dots">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h2>メンターによるサポート</h2>
          <p>
            勉強会やハッカソンでは、メンター（講師）が付き添いで教えるので、開発したことがない初心者でも安心です。
          </p>
        </div>
        <div class="col-sm-6" style="text-align: center;">
          <img src="images/temp.png" width="300" style="opacity: .5;" alt="dots">
        </div>
      </div>
    </div>
  </section>
  <section class="languages">
    <h2>学べること</h2>
    <p>DITの勉強会では、主にwebの技術が学べます。</p>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img src="images/html.png" alt="HTML">
          <h3>HTML</h3>
          <p>
            webサイトを構築するための言語です。最も基礎的な言語です。
          </p>
        </div>
        <div class="col-sm-3">
          <img src="images/css.png" alt="CSS">
          <h3>CSS</h3>
          <p>
            HTMLで書かれた文章・構造を装飾するための言語です。文字色やレイアウトはCSSで指定します。
          </p>
        </div>
        <div class="col-sm-3">
          <img src="images/js.png" alt="JavaScript">
          <h3>JavaScript</h3>
          <p>
            web上でプログラミングを行うための言語です。JavaScriptが使えると様々な機能を実装できます。
          </p>
        </div>
        <div class="col-sm-3">
          <div class="php">
            <img src="images/php.png" alt="PHP">
          </div>
          <h3>PHP / MySQL</h3>
          <p>
            サーバサイドのプログラミング言語です。データーベースを用いて、データを保管することができます。
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="mentor">
    <h2>メンター</h2>
    <p>
      ITベンチャー内定者を含む、優秀なメンターがサポートします。
    </p>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <a href="#">
            <span class="name">Keita Nakanishi</span>
            <span class="title">Designer / Developer</span>
            <img class="portrait" src="images/nakanishi.png">
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#">
            <span class="name">Chika Mitsui</span>
            <span class="title">Web Developer</span>
            <img class="portrait" src="images/n.png">
          </a>
        </div>
        <div class="col-sm-4">
          <a href="#">
            <span class="name">Shun Tamura</span>
            <span class="title">Web Developer</span>
            <img class="portrait" src="images/n.png">
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="activity-base">
    <h2>私達の活動拠点</h2>
    <p>
      同志社大学 京田辺キャンパス ローム記念館2F (3階) RM215<br>
      正門入ってすぐ右
    </p>
    <div id="map"></div>
  </section>

  <section class="join">
    <h2>エンジニアを目指しませんか？</h2>
    <p>
      初心者歓迎です。お気軽にお問い合わせください。<br>
    </p>
    <a class="join-btn" href="https://docs.google.com/forms/d/1MOf0ojOY6SBr6UIp3b0essQ0x7J_kGXcoJ3XEmk4ZRM/viewform?usp=send_form" target="_blank">申し込む</a>
  </section>
</main>
