---
layout: layout
blog: news
---

<% latest_articles = page_articles.sort_by{|a| a.date }.reverse[0,5] %>

<h2>トップページ</h2>
<p>ここがトップページです。ここではお知らせの一覧も表示させています。</p>

<div class="activity-base">
  <h2>活動拠点</h2>
  <p>同志社大学　京田辺キャンパス　ローム記念館2F</p>
  <p>京田辺キャンパス　正面すぐ右</p>
  <div id="map">
  </div><!-- /#map -->
</div><!-- /#activityBase -->

<h3>お知らせ</h3>
<ul>
<% latest_articles.each do |article| %>
  <li>
    <%= link_to article.title, article %>
  </li>
<% end %>
</ul>
