---
layout: layout
blog: news
description: DIT（Doshisha Institute of Technology）は、同志社生の技術力向上を目指し、勉強会を開催するプロジェクトです。
keywords: 同志社,HTML5,CSS,JavaScript,PHP,Bootstrap,jQuery
---

<% latest_articles = page_articles.sort_by{|a| a.date }.reverse[0,5] %>

<%= partial "layouts/header" %>
<main class="main" role="main">
  <section class="service">
    <div class="container">
      <h2>
        プログラミングの楽しさを知ってほしい。そんな思いで活動しています。
      </h2>
      <div class="row">
        <div class="col-sm-6">
          <h3>勉強会の定期開催</h3>
          <p>
            週に1回勉強会を開催し、基本的なWeb技術を学んでもらいます。演習形式なので、手を動かす中で技術が身につきます。
          </p>
        </div>
        <div class="col-sm-6">
          <h3>メンターによる学習サポート</h3>
          <p>
            メンターと呼ばれるプログラミング経験のある学生が学習のサポートを行うので、初心者でも安心です。
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="languages">
    <div class="container">
      <h2>プログラミング言語</h2>
      <p>
        1年間を通じて、<em>HTML, CSS, JavaScript, PHP, MySQL</em>を学習します。Web技術をひと通り学べるので、最終的には一人でWebサービスを作ることができます。
      </p>
      <img src="./images/languages.png" alt="Programming Languages">
    </div>
  </section>
  <section class="mentor">
    <div class="container">
      <h2>メンター</h2>
      <p>Web開発経験のあるメンターが学習のサポートをします。</p>
      <div class="carousel">
        <div>
          <a class="member" href="mentor.html#morimoto">
            <img class="portrait" src="images/portrait/morimoto.jpg" alt="Ryoko Morimoto" width="128" height="128">
            <span class="name">Ryoko Morimoto</span>
            <span class="title">Project Leader</span>
          </a>
        </div>
        <div>
          <a class="member" href="mentor.html#mitsui">
            <img class="portrait" src="images/portrait/mitsui.jpg" alt="Chika Mitsui" width="128" height="128">
            <span class="name">Chika Mitsui</span>
            <span class="title">Developer</span>
          </a>
        </div>
        <div>
          <a class="member" href="mentor.html#nakanishi">
            <img class="portrait" src="images/portrait/nakanishi.png" alt="Keita Nakanishi" width="128" height="128">
            <span class="name">Keita Nakanishi</span>
            <span class="title">Designer / Developer</span>
          </a>
        </div>
        <div>
          <a class="member" href="mentor.html#tamura">
            <img class="portrait" src="images/portrait/tamura.jpg" alt="Shun Tamura" width="128" height="128">
            <span class="name">Shun Tamura</span>
            <span class="title">Developer</span>
          </a>
        </div>
        <div>
          <a class="member" href="mentor.html#uchimura">
            <img class="portrait" src="images/portrait/uchimura.jpg" alt="Yushi Uchimura" width="128" height="128">
            <span class="name">Yushi Uchimura</span>
            <span class="title">Mobile Engineer</span>
          </a>
        </div>
        <div>
          <a class="member" href="mentor.html#kunishima">
            <img class="portrait" src="images/portrait/kunishima.jpg" alt="Eshin Kunishima" width="128" height="128">
            <span class="name">Eshin Kunishima</span>
            <span class="title">Nerd</span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="question">
    <div class="container">
      <h2>よくある質問</h2>
      <div class="row">
        <div class="col-sm-6">
          <h4>参加費用はかかりますか？</h4>
          <p>いいえ。無料でご参加いただけます。</p>
          <h4>初心者なのでついていけるか心配です</h4>
          <p>基礎から教えるので経験がなくても大丈夫です。
        </div>
        <div class="col-sm-6">
          <h4>ノートパソコンを持っていません</h4>
          <p>貸出用のPCを用意しているのでなくても大丈夫です。</p>
          <h4>何ができるようになりますか</h4>
          <p>1年間でWebサイトの構築が一人でできるようになります。</p>
        </div>
      </div>
      <a class="more" href="./faq.html">詳しく</a>
    </div>
  </section>
  <section class="activity-base">
    <h2>開催地</h2>
    <p>
      同志社大学 京田辺キャンパス ローム記念館2F オープンスペース
    </p>
    <div id="map"></div>
  </section>
  <section class="join">
    <h2>エンジニアを目指しませんか？</h2>
    <p>
      初心者歓迎です。お気軽にお問い合わせください。<br>
    </p>
    <a class="join-btn disabled" href="https://docs.google.com/forms/d/1MOf0ojOY6SBr6UIp3b0essQ0x7J_kGXcoJ3XEmk4ZRM/viewform?usp=send_form" target="_blank">勉強会は終了しました</a>
  </section>
</main>
