---
layout: layout
blog: news
---

<% latest_articles = page_articles.sort_by{|a| a.date }.reverse[0,5] %>

<section class="activity-base">
  <h2>活動拠点</h2>
  <p>
    同志社大学 京田辺キャンパス ローム記念館2F<br>
    京田辺キャンパス 正門すぐ右
  </p>
  <div id="map"></div>
</section>

<section class="join">
  <h2>ともに活動しましょう</h2>
  <p>
    私たちと一緒に一流のエンジニアを目指しませんか？<br>
    私たちが全力でサポートします。
  </p>
  <a class="join-btn" href="https://docs.google.com/forms/d/1MOf0ojOY6SBr6UIp3b0essQ0x7J_kGXcoJ3XEmk4ZRM/viewform?usp=send_form" target="_blank">申し込む</a>
</section>

