---
layout: layout
blog: news
---

<% latest_articles = page_articles.sort_by{|a| a.date }.reverse[0,5] %>

<header class="jumbotron">
			<div class="container" style="margin-top: 20%;">
				<h1>同志社から新たな Engineer を<h1>
				<p>DITは同志社からエンジニアを排出します。新しい可能性、才能を芽生えさせることをサポートしています。ほげほげ。</p>
				<p><a class="btn btn-lg midashi-btn" role="button">ボタン付けてもいいかも &raquo;</a></p>
			</div>
		</header>
		
		<div align="center" style="height: 300px;">テスト用ボックス</div>
		
		<script>setHeader();</script>


<h2>トップページ</h2>
<p>ここがトップページです。ここではお知らせの一覧も表示させています。</p>

<h3>お知らせ</h3>
<ul>
<% latest_articles.each do |article| %>
  <li>
    <%= link_to article.title, article %>
  </li>
<% end %>
</ul>
