---
title: Mentors
layout: layout
---

<%= partial "layouts/navigation" %>

<article class="mentors">
  <div class="wrapper">
    <h1>メンター紹介</h1>
    <p>勉強会で教えるメンター（指導者）です。</p>
    <section id="morimoto">
      <img class="portrait" src="images/portrait/morimoto.png" alt="Ryoko Morimoto">
      <h2>Ryoko Morimoto</h2>
      <p class="title">Project Leader / Developer</p>
      <ul class="social clearfix">
        <li><a class="lsf" href="http://twitter.com/smkeaea" target="_blank" title="twitter">twitter</a></li>
        <li><a class="lsf" href="https://www.facebook.com/profile.php?id=100005962544674" target="_blank" title="Facebook">facebook</a></li>
        <li><a class="lsf" href="http://github.com/ryoupon" target="_blank" title="GitHub">github</a></li>
      </ul>
      <p class="intro">
        大阪生まれ、アメリカ育ち。プログラミングは大学に入ってからはじめ、
        Androidアプリの開発を主にしていました。絶賛勉強中です。パズドラが好き。
      </p>
      <p class="skill">
        <span>Favorite Language:</span>Java
      </p>
    </section>
    <section id="mitsui">
      <img class="portrait" src="images/portrait/mitsui.png" alt="Chika Mitsui">
      <h2>Chika Mitsui</h2>
      <p class="title">Developer</p>
      <ul class="social clearfix">
        <li><a class="lsf" href="http://twitter.com/chii8102" target="_blank" title="twitter">twitter</a></li>
        <li><a class="lsf" href="https://www.facebook.com/chika.mitsui2" target="_blank" title="Facebook">facebook</a></li>
        <li><a class="lsf" href="http://github.com/chikam" target="_blank" title="GitHub">github</a></li>
      </ul>
      <p class="intro">
        大阪生まれ。大学でプログラミングに出会い、webの楽しさに惹かれました。
        来年から東京のITベンチャー企業で働く予定です。
      </p>
      <p class="skill">
        <span>Favorite Language:</span>JavaScript, PHP
      </p>
    </section>

    <section id="nakanishi">
      <img class="portrait" src="images/portrait/nakanishi.png" alt="Keita Nakanishi">
      <h2>Keita Nakanishi</h2>
      <p class="title">Web Designer / Developer</p>
      <ul class="social clearfix">
        <li><a class="lsf" href="http://nakanishy.com" target="_blank" title="web">web</a></li>
        <li><a class="lsf" href="http://facebook.com/keita.nakanis" target="_blank" title="Facebook">facebook</a></li>
        <li><a class="lsf" href="http://github.com/nakanishy" target="_blank" title="GitHub">github</a></li>
        <li><a class="lsf" href="http://b.hatena.ne.jp/nakanishy" target="_blank" title="Hatena Bookmark">hatena</a></li>
      </ul>
      <p class="intro">
        滋賀県生まれ。14歳からWebサイトの制作を始める。独学でWebを学び、
        <a href="#" target="_blank">Webサービス</a>をリリース。
        ITベンチャー企業から内定をもらい、来年から東京で働く。
      </p>
      <p class="skill">
        <span>Favorite Language:</span>JavaScript, Ruby
      </p>
    </section>
    <section id="uchimura">
      <img class="portrait" src="images/portrait/uchimura.png" alt="Yushi Uchimura">
      <h2>Yushi Uchimura</h2>
      <p class="title">Mobile Engineer</p>
      <ul class="social clearfix">
        <li><a class="lsf" href="http://twitter.com/uc18uc" target="_blank" title="Twitter">twitter</a></li>
        <li><a class="lsf" href="https://www.facebook.com/yushi.uchimura" target="_blank" title="Facebook">facebook</a></li>
        <li><a class="lsf" href="http://github.com/ir77" target="_blank" title="GitHub">github</a></li>
        <li><a class="lsf" href="http://iridium77.hatenablog.com" target="_blank" title="Hatena Bookmark">hatena</a></li>
      </ul>
      <p class="intro">
        iOSアプリを書くことが多いうっちーです。
        昨年度はLINE、サイバーエージェント、Voyage Group、Pixivのインターンに行ってました。
      </p>
      <p class="skill">
        <span>Favorite Language:</span>Swift, C++
      </p>
    </section>
    <section id="kunishima">
      <img class="portrait" src="images/portrait/kunishima.png" alt="Eshin Kunishima">
      <h2>Eshin Kunishima</h2>
      <p class="title">Nerd</p>
      <ul class="social clearfix">
        <li><a class="lsf" href="https://www.facebook.com/hymenanthes" target="_blank" title="Facebook">facebook</a></li>
        <li><a class="lsf" href="https://github.com/mikoim" target="_blank" title="GitHub">github</a></li>
        <li><a class="lsf" href="https://www.flickr.com/photos/eshin-kuni/" target="_blank" title="Flickr">flickr</a></li>
      </ul>
      <p class="intro">
        print('The （*´・ω・） ｽn is not the Sun.')
      </p>
      <p class="skill">
        <span>Favorite Language:</span>Python
      </p>
    </section>
  </div>
</article>
